<br><br>
<div class="container prrogram" *ngIf="programs">
    <div class="card program__card" *ngFor="let program of programs">
        <div class="card-header">
            Program:: {{program.name}}
        </div>
        <div class="card-block program__card__projects">
            <div>
                <strong>Activities</strong>
                <table class="table table-striped" *ngIf="program.projects.length">
                    <thead>
                        <td>Name</td>
                        <td>Start Date</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of program.projects">
                            <td>{{item.name}}</td>
                            <td>{{item.create_date}}</td>
                            <td><button class="btn btn-sm btn-danger" (click)="deleteWorflowLevel2(item)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger" *ngIf="!program.projects.length">
                    <strong>Whoops!</strong> There was a problem loading Activities.
                </div>
                <button class="btn btn-info" (click)="showHide = !showHide" *ngIf="!showHide">Add Activity</button>
                <div class="" *ngIf="showHide">
                    <form [formGroup]="projectForm" novalidate>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="center-block">Name:
                              <input class="form-control " formControlName="name">
                            </label>
                            </div>
                            <div class="col-md-3">
                                <label class="center-block ">Start Date:
                                <input class="form-control" type="date" formControlName="expected_start_date">
                            </label>
                            </div>
                            <div class="col-md-3">
                                <label class="center-block ">End Date:
                              <input class="form-control" type="date" formControlName="expected_end_date">
                            </label>
                            </div>
                            <div class="col-md-3">
                                <br>
                                <button class="btn btn-primary" (click)="addWorkflowLevel2(projectForm.value, program.id)" [disabled]="!projectForm.valid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>